server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/review-service
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost