server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/iam-chandan/config-server-files
          default-label: main
          clone-on-start: true
          search-paths: Ecommerce-comfig